# Packages Loading

In [1]:
import os

from pyspark.sql import SparkSession
import pyspark.sql.functions as F

# Spark Config Setting

In [2]:
SPARK_JAR_DIR = os.getenv("SPARK_JAR_DIR", "/opt/spark/jars")

SPARK_STAND_ALONE_CORES = {
    "spark.cores.max": 3
}

SPARK_DRIVER_CONFIGS = {
    "spark.driver.memory": "1g"
}

SPARK_EXECUTOR_CONFIGS = {
    "spark.executor.cores": 1,
    "spark.executor.instances": 1,
    "spark.executor.memory": "1g",
}

spark = SparkSession.builder \
    .appName("etl_snapshot") \
    .master("spark://spark-master:7077") \
    .config("spark.jars", f"{SPARK_JAR_DIR}/mysql-connector-java-8.0.28.jar") \
    .config("spark.ui.port", "4040") \
    .config(map=SPARK_DRIVER_CONFIGS) \
    .config(map=SPARK_EXECUTOR_CONFIGS) \
    .config(map=SPARK_STAND_ALONE_CORES) \
    .getOrCreate()

spark.sparkContext.setJobGroup("Monthly User Movements Snapshot", "test2", interruptOnCancel=False)

# RDB Connection Info

In [3]:
DB_CONN_INFO = {
    "user": "root",
    "password": "root",
    "url": "jdbc:mysql://mysql:3306/mysql",
    "driver": "com.mysql.cj.jdbc.Driver"
}

# Data Sourcing Query

### 1. 검색 조건 일자 세팅 (Delta Load)

In [4]:
start_dt = '1970-01-01'
end_dt = '2022-07-31'

### 2. 검색 조건에 부합하는 전체 데이터 셋 집합 카운트 수 산출

In [5]:
count_sql = f"""
SELECT MAX(customer_id)
FROM (
    SELECT DISTINCT customer_id
                  , DATE_FORMAT(date_id, '%Y-%m') AS order_month
    FROM dw.fact_transacation
    WHERE payment_status = 'Success'
    AND date_id BETWEEN '{start_dt}' AND '{end_dt}'
) AS user_monthly_order
"""

In [6]:
# 검색할 범주의 전체 행의 개수 산출 (파티션 수를 균등하게 분할하여 읽기 위한 전체 개수 탐색)
result_row =  spark.read.format("jdbc") \
    .options(**DB_CONN_INFO) \
    .option("query", count_sql) \
    .load().first()[0]

In [7]:
result_row

99999

### 3. 파티션으로 균등 분할하여 데이터 Read

In [8]:
dbtable = f"""(
SELECT customer_id
     , DATE(ym01) AS ym_first_day
     , DATE_FORMAT(ym01, '%Y-%m') AS order_month
     , LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01) AS prior_order_month
     , TIMESTAMPDIFF(MONTH, LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01), ym01) AS order_month_diff
FROM (
    SELECT DISTINCT customer_id
                  , DATE_FORMAT(date_id, '%Y-%m-01') AS ym01
    FROM dw.fact_transacation
    WHERE payment_status = 'Success'
    AND date_id BETWEEN '{start_dt}' AND '{end_dt}'
    ) AS user_monthly_order
) as subquery"""

df = spark.read.format("jdbc") \
    .options(**DB_CONN_INFO) \
    .option("numPartitions", 3) \
    .option("dbtable", dbtable) \
    .option("partitionColumn", "customer_id") \
    .option("lowerBound", 1) \
    .option("upperBound", result_row) \
    .load()

# df.cache()

In [9]:
# df.rdd.mapPartitionsWithIndex(lambda idx, it: [(idx, sum(1 for _ in it))]).collect()

In [10]:
# 파티션 개수
# df.rdd.getNumPartitions()

In [11]:
# 파티션별 (파티션 인덱스, 데이터) 개수 => 9개 파티션으로 데이터를 분할해서 읽음 (각 파티션에는 customer_id별로 모아져있음)
# df.rdd.mapPartitionsWithIndex(lambda idx, it: [(idx, sum(1 for _ in it))]).collect()

In [12]:
# 데이터프레임 스키마 확인
# df.printSchema()

In [13]:
# Case 1 : order_month_diff => null. 그 달의 신규 회원.
new = df.filter(F.col("order_month_diff").isNull()).groupBy("order_month").agg(F.count("order_month").alias("new_cnt"))

# Case 2 : order_month_diff => 3 이상. 복귀 사용자
old = df.filter(F.col("order_month_diff") >= 3).groupBy("order_month").agg(F.count("order_month").alias("old_cnt"))

# Case 3 : order_month_diff => 3 미만. 기존 사용자
exist = df.filter(F.col("order_month_diff") <= 2).groupBy("order_month").agg(F.count("order_month").alias("exist_cnt"))

In [14]:
new_old = new.join(other=old, on="order_month", how="full_outer")

In [15]:
new_old_exist = new_old.join(other=exist, on="order_month", how="full_outer")
new_old_exist = new_old_exist.na.fill(0)
new_old_exist = new_old_exist.withColumn("mau", F.col("new_cnt") + F.col("old_cnt") + F.col("exist_cnt"))

In [16]:
new_old_exist.show(200)

+-----------+-------+-------+---------+-----+
|order_month|new_cnt|old_cnt|exist_cnt|  mau|
+-----------+-------+-------+---------+-----+
|    2016-06|      1|      0|        0|    1|
|    2016-07|    268|      0|        0|  268|
|    2016-08|    423|      0|       43|  466|
|    2016-09|    435|      0|      150|  585|
|    2016-10|    512|     10|      252|  774|
|    2016-11|    488|     42|      372|  902|
|    2016-12|    280|     54|      494|  828|
|    2017-01|    498|    112|      532| 1142|
|    2017-02|    471|    138|      620| 1229|
|    2017-03|    516|    144|      746| 1406|
|    2017-04|    498|    171|      886| 1555|
|    2017-05|    463|    221|     1008| 1692|
|    2017-06|    277|    258|     1105| 1640|
|    2017-07|    981|    303|     1183| 2467|
|    2017-08|    590|    346|     1393| 2329|
|    2017-09|    592|    324|     1611| 2527|
|    2017-10|    655|    456|     1731| 2842|
|    2017-11|    543|    455|     1871| 2869|
|    2017-12|    386|    532|     2067| 2985|
|    2018-01|    552|    522|     2152| 3226|
|    2018-02|    554|    533|     2131| 3218|
|    2018-03|    589|    655|     2334| 3578|
|    2018-04|    594|    723|     2510| 3827|
|    2018-05|    519|    733|     2706| 3958|
|    2018-06|    401|    683|     2762| 3846|
|    2018-07|   1143|    868|     2919| 4930|
|    2018-08|    675|    882|     3175| 4732|
|    2018-09|    672|    844|     3366| 4882|
|    2018-10|    643|   1036|     3521| 5200|
|    2018-11|    627|    998|     3625| 5250|
|    2018-12|    417|   1100|     3874| 5391|
|    2019-01|    563|   1197|     3903| 5663|
|    2019-02|    649|   1010|     3804| 5463|
|    2019-03|    689|   1275|     4222| 6186|
|    2019-04|    625|   1235|     4267| 6127|
|    2019-05|    643|   1297|     4635| 6575|
|    2019-06|    408|   1293|     4612| 6313|
|    2019-07|   1180|   1463|     4830| 7473|
|    2019-08|    792|   1557|     5038| 7387|
|    2019-09|    717|   1522|     5228| 7467|
|    2019-10|    670|   1654|     5417| 7741|
|    2019-11|    731|   1800|     5605| 8136|
|    2019-12|    443|   1722|     5804| 7969|
|    2020-01|    631|   1804|     5970| 8405|
|    2020-02|    731|   1765|     5940| 8436|
|    2020-03|    699|   1983|     6270| 8952|
|    2020-04|    678|   1936|     6376| 8990|
|    2020-05|    444|   1978|     6709| 9131|
|    2020-06|    660|   2032|     6757| 9449|
|    2020-07|   1352|   2207|     7011|10570|
|    2020-08|   1034|   2294|     7530|10858|
|    2020-09|    809|   2187|     7626|10622|
|    2020-10|    839|   2320|     8010|11169|
|    2020-11|    874|   2403|     8193|11470|
|    2020-12|    463|   2393|     8628|11484|
|    2021-01|    868|   2690|     8713|12271|
|    2021-02|    786|   2393|     8575|11754|
|    2021-03|    867|   2842|     9203|12912|
|    2021-04|    758|   2748|     9284|12790|
|    2021-05|    468|   2886|     9936|13290|
|    2021-06|    770|   2745|     9767|13282|
|    2021-07|   1581|   3117|    10237|14935|
|    2021-08|   1163|   3013|    10819|14995|
|    2021-09|    973|   2858|    11333|15164|
|    2021-10|   1053|   3100|    11701|15854|
|    2021-11|   1007|   3118|    12066|16191|
|    2021-12|    473|   3105|    12682|16260|
|    2022-01|   1057|   3526|    12731|17314|
|    2022-02|    918|   2762|    12865|16545|
|    2022-03|    873|   3096|    13686|17655|
|    2022-04|    872|   3200|    13819|17891|
|    2022-05|    408|   2183|    14973|17564|
|    2022-06|    762|    369|    15188|16319|
|    2022-07|    998|     26|     8950| 9974|
+-----------+-------+-------+---------+-----+

In [17]:
new_old_exist.explain(extended=True)

== Parsed Logical Plan ==
'Project [order_month#53, new_cnt#62L, old_cnt#63L, exist_cnt#64L, (('new_cnt + 'old_cnt) + 'exist_cnt) AS mau#69]
+- Project [order_month#53, coalesce(new_cnt#18L, cast(0.0 as bigint)) AS new_cnt#62L, coalesce(old_cnt#27L, cast(0.0 as bigint)) AS old_cnt#63L, coalesce(exist_cnt#36L, cast(0.0 as bigint)) AS exist_cnt#64L]
   +- Project [coalesce(order_month#44, order_month#50) AS order_month#53, new_cnt#18L, old_cnt#27L, exist_cnt#36L]
      +- Join FullOuter, (order_month#44 = order_month#50)
         :- Project [coalesce(order_month#4, order_month#41) AS order_month#44, new_cnt#18L, old_cnt#27L]
         :  +- Join FullOuter, (order_month#4 = order_month#41)
         :     :- Aggregate [order_month#4], [order_month#4, count(order_month#4) AS new_cnt#18L]
         :     :  +- Filter isnull(order_month_diff#6L)
         :     :     +- Relation [customer_id#2,ym_first_day#3,order_month#4,prior_order_month#5,order_month_diff#6L] JDBCRelation((
SELECT customer_id
     , DATE(ym01) AS ym_first_day
     , DATE_FORMAT(ym01, '%Y-%m') AS order_month
     , LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01) AS prior_order_month
     , TIMESTAMPDIFF(MONTH, LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01), ym01) AS order_month_diff
FROM (
    SELECT DISTINCT customer_id
                  , DATE_FORMAT(date_id, '%Y-%m-01') AS ym01
    FROM dw.fact_transacation
    WHERE payment_status = 'Success'
    AND date_id BETWEEN '1970-01-01' AND '2022-07-31'
    ) AS user_monthly_order
) as subquery) [numPartitions=3]
         :     +- Aggregate [order_month#41], [order_month#41, count(order_month#41) AS old_cnt#27L]
         :        +- Filter (order_month_diff#43L >= cast(3 as bigint))
         :           +- Relation [customer_id#39,ym_first_day#40,order_month#41,prior_order_month#42,order_month_diff#43L] JDBCRelation((
SELECT customer_id
     , DATE(ym01) AS ym_first_day
     , DATE_FORMAT(ym01, '%Y-%m') AS order_month
     , LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01) AS prior_order_month
     , TIMESTAMPDIFF(MONTH, LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01), ym01) AS order_month_diff
FROM (
    SELECT DISTINCT customer_id
                  , DATE_FORMAT(date_id, '%Y-%m-01') AS ym01
    FROM dw.fact_transacation
    WHERE payment_status = 'Success'
    AND date_id BETWEEN '1970-01-01' AND '2022-07-31'
    ) AS user_monthly_order
) as subquery) [numPartitions=3]
         +- Aggregate [order_month#50], [order_month#50, count(order_month#50) AS exist_cnt#36L]
            +- Filter (order_month_diff#52L <= cast(2 as bigint))
               +- Relation [customer_id#48,ym_first_day#49,order_month#50,prior_order_month#51,order_month_diff#52L] JDBCRelation((
SELECT customer_id
     , DATE(ym01) AS ym_first_day
     , DATE_FORMAT(ym01, '%Y-%m') AS order_month
     , LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01) AS prior_order_month
     , TIMESTAMPDIFF(MONTH, LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01), ym01) AS order_month_diff
FROM (
    SELECT DISTINCT customer_id
                  , DATE_FORMAT(date_id, '%Y-%m-01') AS ym01
    FROM dw.fact_transacation
    WHERE payment_status = 'Success'
    AND date_id BETWEEN '1970-01-01' AND '2022-07-31'
    ) AS user_monthly_order
) as subquery) [numPartitions=3]

== Analyzed Logical Plan ==
order_month: string, new_cnt: bigint, old_cnt: bigint, exist_cnt: bigint, mau: bigint
Project [order_month#53, new_cnt#62L, old_cnt#63L, exist_cnt#64L, ((new_cnt#62L + old_cnt#63L) + exist_cnt#64L) AS mau#69L]
+- Project [order_month#53, coalesce(new_cnt#18L, cast(0.0 as bigint)) AS new_cnt#62L, coalesce(old_cnt#27L, cast(0.0 as bigint)) AS old_cnt#63L, coalesce(exist_cnt#36L, cast(0.0 as bigint)) AS exist_cnt#64L]
   +- Project [coalesce(order_month#44, order_month#50) AS order_month#53, new_cnt#18L, old_cnt#27L, exist_cnt#36L]
      +- Join FullOuter, (order_month#44 = order_month#50)
         :- Project [coalesce(order_month#4, order_month#41) AS order_month#44, new_cnt#18L, old_cnt#27L]
         :  +- Join FullOuter, (order_month#4 = order_month#41)
         :     :- Aggregate [order_month#4], [order_month#4, count(order_month#4) AS new_cnt#18L]
         :     :  +- Filter isnull(order_month_diff#6L)
         :     :     +- Relation [customer_id#2,ym_first_day#3,order_month#4,prior_order_month#5,order_month_diff#6L] JDBCRelation((
SELECT customer_id
     , DATE(ym01) AS ym_first_day
     , DATE_FORMAT(ym01, '%Y-%m') AS order_month
     , LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01) AS prior_order_month
     , TIMESTAMPDIFF(MONTH, LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01), ym01) AS order_month_diff
FROM (
    SELECT DISTINCT customer_id
                  , DATE_FORMAT(date_id, '%Y-%m-01') AS ym01
    FROM dw.fact_transacation
    WHERE payment_status = 'Success'
    AND date_id BETWEEN '1970-01-01' AND '2022-07-31'
    ) AS user_monthly_order
) as subquery) [numPartitions=3]
         :     +- Aggregate [order_month#41], [order_month#41, count(order_month#41) AS old_cnt#27L]
         :        +- Filter (order_month_diff#43L >= cast(3 as bigint))
         :           +- Relation [customer_id#39,ym_first_day#40,order_month#41,prior_order_month#42,order_month_diff#43L] JDBCRelation((
SELECT customer_id
     , DATE(ym01) AS ym_first_day
     , DATE_FORMAT(ym01, '%Y-%m') AS order_month
     , LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01) AS prior_order_month
     , TIMESTAMPDIFF(MONTH, LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01), ym01) AS order_month_diff
FROM (
    SELECT DISTINCT customer_id
                  , DATE_FORMAT(date_id, '%Y-%m-01') AS ym01
    FROM dw.fact_transacation
    WHERE payment_status = 'Success'
    AND date_id BETWEEN '1970-01-01' AND '2022-07-31'
    ) AS user_monthly_order
) as subquery) [numPartitions=3]
         +- Aggregate [order_month#50], [order_month#50, count(order_month#50) AS exist_cnt#36L]
            +- Filter (order_month_diff#52L <= cast(2 as bigint))
               +- Relation [customer_id#48,ym_first_day#49,order_month#50,prior_order_month#51,order_month_diff#52L] JDBCRelation((
SELECT customer_id
     , DATE(ym01) AS ym_first_day
     , DATE_FORMAT(ym01, '%Y-%m') AS order_month
     , LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01) AS prior_order_month
     , TIMESTAMPDIFF(MONTH, LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01), ym01) AS order_month_diff
FROM (
    SELECT DISTINCT customer_id
                  , DATE_FORMAT(date_id, '%Y-%m-01') AS ym01
    FROM dw.fact_transacation
    WHERE payment_status = 'Success'
    AND date_id BETWEEN '1970-01-01' AND '2022-07-31'
    ) AS user_monthly_order
) as subquery) [numPartitions=3]

== Optimized Logical Plan ==
Project [order_month#53, new_cnt#62L, old_cnt#63L, exist_cnt#64L, ((new_cnt#62L + old_cnt#63L) + exist_cnt#64L) AS mau#69L]
+- Project [coalesce(order_month#44, order_month#50) AS order_month#53, coalesce(new_cnt#18L, 0) AS new_cnt#62L, coalesce(old_cnt#27L, 0) AS old_cnt#63L, coalesce(exist_cnt#36L, 0) AS exist_cnt#64L]
   +- Join FullOuter, (order_month#44 = order_month#50)
      :- Project [coalesce(order_month#4, order_month#41) AS order_month#44, new_cnt#18L, old_cnt#27L]
      :  +- Join FullOuter, (order_month#4 = order_month#41)
      :     :- Aggregate [order_month#4], [order_month#4, count(order_month#4) AS new_cnt#18L]
      :     :  +- Project [order_month#4]
      :     :     +- Filter isnull(order_month_diff#6L)
      :     :        +- Relation [customer_id#2,ym_first_day#3,order_month#4,prior_order_month#5,order_month_diff#6L] JDBCRelation((
SELECT customer_id
     , DATE(ym01) AS ym_first_day
     , DATE_FORMAT(ym01, '%Y-%m') AS order_month
     , LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01) AS prior_order_month
     , TIMESTAMPDIFF(MONTH, LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01), ym01) AS order_month_diff
FROM (
    SELECT DISTINCT customer_id
                  , DATE_FORMAT(date_id, '%Y-%m-01') AS ym01
    FROM dw.fact_transacation
    WHERE payment_status = 'Success'
    AND date_id BETWEEN '1970-01-01' AND '2022-07-31'
    ) AS user_monthly_order
) as subquery) [numPartitions=3]
      :     +- Aggregate [order_month#41], [order_month#41, count(order_month#41) AS old_cnt#27L]
      :        +- Project [order_month#41]
      :           +- Filter (isnotnull(order_month_diff#43L) AND (order_month_diff#43L >= 3))
      :              +- Relation [customer_id#39,ym_first_day#40,order_month#41,prior_order_month#42,order_month_diff#43L] JDBCRelation((
SELECT customer_id
     , DATE(ym01) AS ym_first_day
     , DATE_FORMAT(ym01, '%Y-%m') AS order_month
     , LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01) AS prior_order_month
     , TIMESTAMPDIFF(MONTH, LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01), ym01) AS order_month_diff
FROM (
    SELECT DISTINCT customer_id
                  , DATE_FORMAT(date_id, '%Y-%m-01') AS ym01
    FROM dw.fact_transacation
    WHERE payment_status = 'Success'
    AND date_id BETWEEN '1970-01-01' AND '2022-07-31'
    ) AS user_monthly_order
) as subquery) [numPartitions=3]
      +- Aggregate [order_month#50], [order_month#50, count(order_month#50) AS exist_cnt#36L]
         +- Project [order_month#50]
            +- Filter (isnotnull(order_month_diff#52L) AND (order_month_diff#52L <= 2))
               +- Relation [customer_id#48,ym_first_day#49,order_month#50,prior_order_month#51,order_month_diff#52L] JDBCRelation((
SELECT customer_id
     , DATE(ym01) AS ym_first_day
     , DATE_FORMAT(ym01, '%Y-%m') AS order_month
     , LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01) AS prior_order_month
     , TIMESTAMPDIFF(MONTH, LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01), ym01) AS order_month_diff
FROM (
    SELECT DISTINCT customer_id
                  , DATE_FORMAT(date_id, '%Y-%m-01') AS ym01
    FROM dw.fact_transacation
    WHERE payment_status = 'Success'
    AND date_id BETWEEN '1970-01-01' AND '2022-07-31'
    ) AS user_monthly_order
) as subquery) [numPartitions=3]

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [order_month#53, new_cnt#62L, old_cnt#63L, exist_cnt#64L, ((new_cnt#62L + old_cnt#63L) + exist_cnt#64L) AS mau#69L]
   +- Project [coalesce(order_month#44, order_month#50) AS order_month#53, coalesce(new_cnt#18L, 0) AS new_cnt#62L, coalesce(old_cnt#27L, 0) AS old_cnt#63L, coalesce(exist_cnt#36L, 0) AS exist_cnt#64L]
      +- SortMergeJoin [order_month#44], [order_month#50], FullOuter
         :- Sort [order_month#44 ASC NULLS FIRST], false, 0
         :  +- Exchange hashpartitioning(order_month#44, 200), ENSURE_REQUIREMENTS, [plan_id=451]
         :     +- Project [coalesce(order_month#4, order_month#41) AS order_month#44, new_cnt#18L, old_cnt#27L]
         :        +- SortMergeJoin [order_month#4], [order_month#41], FullOuter
         :           :- Sort [order_month#4 ASC NULLS FIRST], false, 0
         :           :  +- HashAggregate(keys=[order_month#4], functions=[count(order_month#4)], output=[order_month#4, new_cnt#18L])
         :           :     +- Exchange hashpartitioning(order_month#4, 200), ENSURE_REQUIREMENTS, [plan_id=437]
         :           :        +- HashAggregate(keys=[order_month#4], functions=[partial_count(order_month#4)], output=[order_month#4, count#91L])
         :           :           +- Scan JDBCRelation((
SELECT customer_id
     , DATE(ym01) AS ym_first_day
     , DATE_FORMAT(ym01, '%Y-%m') AS order_month
     , LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01) AS prior_order_month
     , TIMESTAMPDIFF(MONTH, LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01), ym01) AS order_month_diff
FROM (
    SELECT DISTINCT customer_id
                  , DATE_FORMAT(date_id, '%Y-%m-01') AS ym01
    FROM dw.fact_transacation
    WHERE payment_status = 'Success'
    AND date_id BETWEEN '1970-01-01' AND '2022-07-31'
    ) AS user_monthly_order
) as subquery) [numPartitions=3] [order_month#4] PushedFilters: [*IsNull(order_month_diff)], ReadSchema: struct<order_month:string>
         :           +- Sort [order_month#41 ASC NULLS FIRST], false, 0
         :              +- HashAggregate(keys=[order_month#41], functions=[count(order_month#41)], output=[order_month#41, old_cnt#27L])
         :                 +- Exchange hashpartitioning(order_month#41, 200), ENSURE_REQUIREMENTS, [plan_id=439]
         :                    +- HashAggregate(keys=[order_month#41], functions=[partial_count(order_month#41)], output=[order_month#41, count#93L])
         :                       +- Scan JDBCRelation((
SELECT customer_id
     , DATE(ym01) AS ym_first_day
     , DATE_FORMAT(ym01, '%Y-%m') AS order_month
     , LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01) AS prior_order_month
     , TIMESTAMPDIFF(MONTH, LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01), ym01) AS order_month_diff
FROM (
    SELECT DISTINCT customer_id
                  , DATE_FORMAT(date_id, '%Y-%m-01') AS ym01
    FROM dw.fact_transacation
    WHERE payment_status = 'Success'
    AND date_id BETWEEN '1970-01-01' AND '2022-07-31'
    ) AS user_monthly_order
) as subquery) [numPartitions=3] [order_month#41] PushedFilters: [*IsNotNull(order_month_diff), *GreaterThanOrEqual(order_month_diff,3)], ReadSchema: struct<order_month:string>
         +- Sort [order_month#50 ASC NULLS FIRST], false, 0
            +- HashAggregate(keys=[order_month#50], functions=[count(order_month#50)], output=[order_month#50, exist_cnt#36L])
               +- Exchange hashpartitioning(order_month#50, 200), ENSURE_REQUIREMENTS, [plan_id=447]
                  +- HashAggregate(keys=[order_month#50], functions=[partial_count(order_month#50)], output=[order_month#50, count#95L])
                     +- Scan JDBCRelation((
SELECT customer_id
     , DATE(ym01) AS ym_first_day
     , DATE_FORMAT(ym01, '%Y-%m') AS order_month
     , LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01) AS prior_order_month
     , TIMESTAMPDIFF(MONTH, LAG(ym01, 1) OVER (PARTITION BY customer_id ORDER BY ym01), ym01) AS order_month_diff
FROM (
    SELECT DISTINCT customer_id
                  , DATE_FORMAT(date_id, '%Y-%m-01') AS ym01
    FROM dw.fact_transacation
    WHERE payment_status = 'Success'
    AND date_id BETWEEN '1970-01-01' AND '2022-07-31'
    ) AS user_monthly_order
) as subquery) [numPartitions=3] [order_month#50] PushedFilters: [*IsNotNull(order_month_diff), *LessThanOrEqual(order_month_diff,2)], ReadSchema: struct<order_month:string>

In [ ]:
spark.stop()